
nav a {
  padding: 0 10px 0 10px;
  background-color: rgb(84, 87, 253);
}

.text-center {
  text-align: center;
}

figcaption {
  font-size: smaller;
}

#featured-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-property p {
  max-width: 900px;
}

#details {
  display: flex;
  background-color: #a52a2a;
  justify-content: space-around;
}

#details div {
  margin: 5px;
  box-shadow: 0px 5px 5px #c06666;
  flex-grow: 1;
}